body{
  color:violet;
  font-family: 'Short Stack', cursive;
}

.most{
  position: relative;
  float: left;
  clear: left;
}

h1{
  color:orange;
}
.rectangle{
  border:4px black solid;
  width: 400px;
  height: 20px;
  float: left;
  margin: 0 2%%;
  margin-top: 15px;

}

.square{
  border:2px violet solid;
  width: 20px;
  height: 20px;
  margin: 0 2%%;
  float:left;
  clear: left;
}

.from{
clear: both;
}

.bottom{
  float: left;
  clear: left;
}

table{
  clear: both;
}

button{
clear position: absolute;
background-color: orange;
top:100%;
}
