body{
  color:violet;
  font-family: 'Short Stack', cursive;
}

header{
  color: black;
  border: black solid 4px;
  text-indent: 15px;
  word-spacing: 40px;
}

h1{
  color:orange;
}

input[type=text] {
  border: solid;
  width: 290px;
  padding: 5px 0px 5px 0px;
}

label{
  width: 60px;
  display: inline-block;
  color: violet;
}

.square{
  border:2px violet solid;
  width: 20px;
  height: 20px;
  margin: 0 2%%;
  float:left;
  clear: left;
}

.from{
clear: both;
}

.bottom{
  float: left;
  clear: left;
}

table{
  clear: both;
}

button{
clear position: absolute;
background-color: orange;
top:100%;
border: 3px black solid;
font-family: 'Short Stack', cursive;

}
